<div style="background-color: black" ng-controller="DefaultCtrl">
    <!-- <div class="default-title">
        <h3>扫点系统</h3>
    </div>
    -->
    <div class="default-content">
        <p style="color: red">{{error}}</p>
        <!-- <p style="color: red">{{scanResult}}</p>
        <p>
            <a class="button button-calm" ng-click="startScan()">点击扫描二维码</a>
        </p>
        <p>点击上方按钮扫描二维码即可开始点菜</p>

        <a class="button button-clear default-bottom-btn" style="color: white">去搜索</a>
            -->
    </div>
</div>